.app {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.page {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
